.details__container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.title {
  color: white;
}

.summary {
  color: var(--text-color);
}

.headline__container {
  display: flex;
  flex-direction: column;
}

.headline__container img {
  width: 50%;
}